.header{
    color: blueviolet;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    background-color: antiquewhite;
}

.para{

    
    color: blueviolet;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    background-color:rgb(222, 243, 243);

}